version: "3"

# Control startup and shutdown order: https://docs.docker.com/compose/startup-order/

services:

  user-agent:
    build:
      context: app
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    stdin_open: true
    tty: true
    depends_on:
      - "storage-server"

  storage-server:
    build:
      context: storage-server
      dockerfile: Dockerfile
    ports:
      - 5005:5005
      - 10001:10001
    depends_on:
      - "weather-station"
    # add environment here for MONGODB_DATABASE:, USERNAME, PASSWORD, HOSTNAME, COLLECTION

  weather-station:
    build:
      context: weather-station
      dockerfile: Dockerfile
    stdin_open: false
